{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Add Term</h2>
        <form method="POST" action="{{ url_for('principal.add_terms') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.start_date.label(class="form-label") }}
                {{ form.start_date(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.end_date.label(class="form-label") }}
                {{ form.end_date(class="form-control") }}
            </div>
          
            <button type="submit" class="btn btn-primary">Add Term</button>
        </form>
    </div>
{% endblock  %}

