{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>All School Events</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.date.strftime('%Y-%m-%d') }}</td>
                <td>{{ event.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
