{% extends "base.html" %}



{% block content %}
<div class="container mt-5">
    <h2>All School Calendar</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for calendar in calendars %}
            <tr>
                <td>{{ calendar.event_name }}</td>
                <td>{{ calendar.event_date.strftime('%Y-%m-%d') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>





{% endblock  %}