{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="jumbotron">
    <h2>Please Register</h2>
    <form method="post" data-aos="fade-up" data-aos-duration="3000">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.first_name.label(class="form-label") }}
            {{ form.first_name(class="form-control") }}
            {% for error in form.first_name.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.last_name.label(class="form-label") }}
            {{ form.last_name(class="form-control") }}
            {% for error in form.last_name.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.role.label(class="form-label") }}
            {{ form.role(class="form-control", readonly=True, style="pointer-events: none;") }}
            {% for error in form.role.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password2.label(class="form-label") }}
            {{ form.password2(class="form-control") }}
            {% for error in form.password2.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div>
            <a href="{{ url_for('users.login') }}" class="link-arrow">Already have an account?</a>
        </div>
    </form>
</div>
{% endblock %}

