{% extends "base.html" %}

<div class="container">
    {% block content %}
    <h1>Assign Teacher to Subject</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.subject_id.label }}<br>
            {{ form.subject_id() }}<br>
            {% for error in form.subject_id.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.teacher_id.label }}<br>
            {{ form.teacher_id() }}<br>
            {% for error in form.teacher_id.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    
    
    {% endblock  %}
</div>
