{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">System Logs</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('principal.create_logs') }}">Create New Log</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <h1 class="mb-4">System Logs</h1>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Action</th>
                <th>User ID</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td>{{ log.action }}</td>
                <td>{{ log.user_id }}</td>
                <td>{{ log.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock  %}