{% extends "base.html" %}
{% block content %}
    <h1>All Classes</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Class ID</th>
                <th scope="col">Class Name</th>
                <th scope="col">Section</th>
                <th scope="col">Teachers</th>
            </tr>
        </thead>
        <tbody>
            {% for class_instance in classes %}
            <tr>
                <td>{{ class_instance.id }}</td>
                <td>{{ class_instance.name }}</td>
                <td>{{ class_instance.section }}</td>
                <td>
                    <ul>
                        {% for teacher in class_instance.teachers %}
                            <li>{{ teacher.first_name }} {{ teacher.last_name }}</li>
                        {% else %}
                            <li>No teachers assigned</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
