{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">View Student Assignments</h2>
        {% for student, assignments in student_assignments.items() %}
        <h4>{{ student.first_name }} {{ student.last_name }}</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Assignment</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignment in assignments %}
                    <tr>
                        <td>{{ assignment.name }}</td>
                        <td>{{ assignment.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>

{% endblock  %}