{% extends "base.html" %}

{% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Schools</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('principal.new_school') }}">Create New School</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h1 class="mb-4">Schools</h1>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Logo</th>
                    <th>Contact Information</th>
                    <th>Principal Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for school in schools %}
                <tr>
                    <td>{{ school.id }}</td>
                    <td>{{ school.name }}</td>
                    <td><img src="{{ school.logo }}" alt="{{ school.name }} Logo" class="img-thumbnail" style="max-height: 50px;"></td>
                    <td>{{ school.contact_info }}</td>
                    <td>{{ school.principal.first_name }} {{ school.principal.last_name }}</td>
                    <td>
                        <a href="{{ url_for('principal.edit_school', id=school.id) }}" class="btn btn-sm btn-primary">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


{% endblock  %}