{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">View Student Grades</h2>
        {% for student, grades in student_grades.items() %}
        <h4>{{ student.first_name }} {{ student.last_name }}</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grade in grades %}
                    <tr>
                        <td>{{ grade.course_name }}</td>
                        <td>{{ grade.grade }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>

{% endblock  %}